
<html>
    <title>HMRC Desk Optimisation </title>
    <meta name="viewport"  content="width=device-width, initial-scale=1">
    
<link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
<link rel='stylesheet' href='https://fonts.googleapis.com/css?family=Roboto'>
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
<style>
    html,body,h1,h2,h3,h4,h5,h6 {font-family: "Roboto", sans-serif}
</style>
  <script>
   function loader() {
        document.getElementById("load").style.visibility = "visible"
       
    }
    var seconds = 0;
    setInterval(function () {
        document.getElementById("timer").innerHTML = seconds++ + " Seconds";
    }, 1000);

    </script>
<body class="w3-light-grey">
        
    <!-- Page Container -->
    <div class="w3-content w3-margin-top" style="max-width:1400px;">  
        <div class="w3-row-padding">
            <div class="w3-third">    
                <div class="w3-container w3-card w3-white w3-margin-bottom">
                <h2 class="w3-text-grey w3-padding-16"><i class="fa fa-suitcase fa-fw w3-margin-right w3-xxlarge w3-text-teal"></i>Lyrics Analysis</h2>         

                    <p><h3 class="w3-text-grey w3-padding-16">Choose an Artist:</h3>
                        <form action="{{ url_for('search_artist') }}" method="post">
                            <p>       
                                <label for="txt_artist">Type the name of the artist</label>
                                <input type="text" id="txt_artist" name="txt_artist" placeholder="Coldplay or Queen" required minlength="2" maxlength="60">
                            </p>
                            <p>
                                <label for="txt_number">How many would you like to list?</label>
                                <input type="number" id="txt_number" name="txt_limit" value="10" min="1" max="10">
                            </p>
                            <p>
                            <input class="w3-button w3-teal" type="submit" value="Search" onclick="loader()">
                           
                            </p>
                        </form> 
                    </div>
                </div>
            {% if result %}
            <div class="w3-twothird">    
                <div class="w3-container w3-card w3-white w3-margin-bottom">
                        <p> <span style="color:red">{{errormsg}}</span></p>
                        <h3 class="w3-text-grey w3-padding-16">Select an Artist:</h3>
                        <form action="{{ url_for('song_list') }}" method="post">                               
                                {%  for k, v in result.items():%}
                                       <input type="radio" name="rb_artist" value={{v[1]}}/{{v[0]}} 
                                       {% if k==1 %}
                                            checked="checked" 
                                       {% endif %}
                                       > {{v[0]}}</br>
                                {% endfor %}
                        </br>
                        <input id="analyse" class="w3-button w3-teal" type="submit" value="Analyse Lyrics" onclick="loader()">
                        <div id="load"  style="visibility:hidden" >
                            <img  src="\static\loader.gif" />
                            processing for 20 titles...
                            <span id="timer"></span>
                        </div>
                        </form>  
                    </div>  
            </div> 
            {% endif %} 
        </div>
        
    </div>       
           
        
    </body>
</html>
            
