
<html>
    <title>HMRC Desk Optimisation </title>
    <meta name="viewport"  content="width=device-width, initial-scale=1">
    
<link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
<link rel='stylesheet' href='https://fonts.googleapis.com/css?family=Roboto'>
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
<style>
    html,body,h1,h2,h3,h4,h5,h6 {font-family: "Roboto", sans-serif}
</style>
  <script>
   function loader() {
        document.getElementById("load").style.visibility = "visible"
       
    }
    var seconds = 0;
    setInterval(function () {
        document.getElementById("timer").innerHTML = seconds++ + " Seconds";
    }, 1000);

    </script>
<body class="w3-light-grey">
   <!-- Navbar -->
<!-- Navbar -->
<!-- Sidebar -->
<nav class="w3-sidebar w3-bar-block w3-collapse w3-large w3-theme-l5 w3-animate-left" id="mySidebar">
    <a href="javascript:void(0)" onclick="w3_close()" class="w3-right w3-xlarge w3-padding-large w3-hover-black w3-hide-large" title="Close Menu">
      <i class="fa fa-remove"></i>
    </a>
    <h4 class="w3-bar-item"><b>Menu</b></h4>
    <a class="w3-bar-item w3-button w3-hover-black" href="{{ url_for('userdetails')}}">User Details</a>
    <a class="w3-bar-item w3-button w3-hover-black" href="{{ url_for('teamdashboard')}}">Team Dashboard</a>
    <a class="w3-bar-item w3-button w3-hover-black" href="{{ url_for('timedashboard')}}">Analysis by Day</a>
    <a class="w3-bar-item w3-button w3-hover-black" href="{{ url_for('suggestions')}}">Suggestions</a>
   
  </nav>
  
    
  <!-- Overlay effect when opening sidebar on small screens -->
  <div class="w3-overlay w3-hide-large" onclick="w3_close()" style="cursor:pointer" title="close side menu" id="myOverlay"></div>
  
  <!-- Main content: shift it to the right by 250 pixels when the sidebar is visible -->
  <div class="w3-main" style="margin-left:250px">
  
    <div class="w3-content w3-margin-top" style="max-width:1400px;">  
        <div class="w3-row-padding">
            <h2 class="w3-text-grey w3-padding-16"><i class="fa fa-suitcase fa-fw w3-margin-right w3-xxlarge w3-text-teal"></i>Dashboard</h2>         
                     
            {%for file in files%}
            <div class="w2-third">    
                <div class="w3-container w3-card w3-white w3-margin-bottom"> 
                    <img src="\static\images\{{file}}" style="height:480px;"/><br/>
                </div>
            </div>
           {%endfor%}
        </div> 
   
    </div>
  
  <!-- END MAIN -->
  </div>  
           
        
    </body>
</html>
            
